body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* MENU */
header {
  background: #222;
  position: fixed;
  width: 100%;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 15px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* SEÇÕES */
section {
  padding: 100px 20px;
  min-height: 100vh;
}

h1 {
  color: #333;
}

/* FORMULÁRIO */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

input, textarea {
  margin-bottom: 10px;
  padding: 10px;
}

button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}